.styled-table {
    border-collapse: collapse;
    margin: 20px 40px 20px 40px;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #72bc44;
    color: #ffffff;
    text-align: left;
    border-top-right-radius: 50% ;
}

.styled-table td{
    text-align: center;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 3px solid #72bc44;
}

